---
---

@import "{{ site.theme }}";

hr {
  display: block;
  margin: 40px auto;
  width: 100px;
  border: none;
  background-color: #8f98a1;
  height: 2px;
}

figure > img, .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
